{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal text-center text-decoration-underline">Veuillez vous connecter</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control " autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <div class="row ">
        <div class="col text-center">
            <button class="col container-button col-6 btn btn-outline mx-1 my-3 hover" type="submit">Connexion</button>
        </div>
    </div>
    <div class="row ">
        <div class="col text-center">
            <a class="col  mx-1 my-3 hover" href=" {{ path('app_forgot_password_request') }} " role="button">Mot de passe oublié?</a>
        </div>
    </div>

</form>
{% endblock %}
