<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block stylesheets %}

            <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="/style.css"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.8.3/dist/index.bundle.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/isSameOrBefore.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="container-xl min-vh-100" id="page-container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center py-3 mb-3 text-capitalize text-decoration-underline display-1">Bienvenue</h2>
                        <p>Bienvenue sur la page d'installation de l'application Quai Antique v2</p>
                        <hr>
                        <h2 class="card-title text-center py-3 mb-3 text-capitalize text-decoration-underline display-1">Informations nécessaires</h2>
                        <hr>

                        <div class="form-control">
                            {{ form_start((welcomeForm)) }}
                                <div class="row text-center">
                                    <b class="col-12 m-1">{{ form_label(welcomeForm.email) }}</b>
                                    <div class="col-12 m-1 mb-3">{{ form_widget(welcomeForm.email) }}</div>
                                </div>
                                <div class="row text-center col m-3">
                                    <b class="col-12 m-1">{{ form_label(welcomeForm.lastName) }}</b>
                                    <div class="col-12 m-1 mb-3">{{ form_widget(welcomeForm.lastName) }}</div>
                                </div>
                                <div class="row text-center">
                                    <b class="col-12 m-1">{{ form_label(welcomeForm.password) }}</b>
                                    <div class="col-12 m-1 mb-3">{{ form_widget(welcomeForm.password) }}</div>
                                </div>
                                <div class="row text-center col m-3">
                                    <b class="col-12 m-1">{{ form_label(welcomeForm.submit) }}</b>
                                    <div class="col-12 m-1 mb-3">{{ form_widget(welcomeForm.submit) }}</div>
                                </div>
                            {{ form_end(welcomeForm) }}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>