{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="text-center text-capitalize text-decoration-underline">Enregistrement</h1>
    {{ form_start(registrationForm) }}
        <div class="bg-light rounded-3 shadow mx-auto mb-2 px-3 border rounded-3 justify-content-center">
            <div class="row col-8 bg-light rounded-3 shadow mx-auto my-2 px-3 border rounded-3 justify-content-center">
                <h2 class="text-center my-2 px-3">Identifiants</h2>
                <div class="row mb-2 px-3 text-center">
                    <div class="col-12 p-1">{{ form_label(registrationForm.email) }}</div>
                    <div class="col-12 p-2">{{ form_widget(registrationForm.email) }}</div>
                    <div>{{ form_errors(registrationForm.email) }}</div>
                </div>
                <div class="row mb-2  px-3 text-center">
                    <div class="col-12 p-1">{{ form_label(registrationForm.password) }}{{ form_widget(registrationForm.password) }}</div>
                    <div class="form-error">{{ form_errors(registrationForm.password) }}</div>
                </div>
            </div>
        </div>
        <div class="row col-8 bg-light rounded-3 shadow mx-auto mb-2 px-3 border rounded-3 justify-content-center">
            <h2 class="text-center mb-2 px-3">Identité</h2>
            <div class="row mb-2 px-3 text-center">
                <div class="col-12 p-1">{{ form_label(registrationForm.lastName) }}</div>
                <div class="col-12 p-1">{{ form_widget(registrationForm.lastName) }}</div>
                <div>{{ form_errors(registrationForm.lastName) }}</div>
            </div>
            <div class="row mb-2 px-3 text-center">
                <div class="col-12 p-1">{{ form_label(registrationForm.firstName) }}</div>
                <div class="col-12 p-1">{{ form_widget(registrationForm.firstName) }}</div>
                <div>{{ form_errors(registrationForm.firstName) }}</div>
            </div>
            <div class="row mb-2 px-3 text-center">
                <div class="col-12 p-1">{{ form_label(registrationForm.phoneNumber) }}</div>
                <div class="col-12 p-1">{{ form_widget(registrationForm.phoneNumber) }}</div>
                <div>{{ form_errors(registrationForm.phoneNumber) }}</div>
            </div>
            <div class="row mb-2 px-3 text-center">
                <div class="col-12 p-1">{{ form_label(registrationForm.birthday) }}</div>
                <div class="col-12 p-1">{{ form_widget(registrationForm.birthday) }}</div>
                <div>{{ form_errors(registrationForm.birthday) }}</div>
            </div>
        </div>
        <div class="row col-8 bg-light rounded-3 shadow mx-auto my-2 px-3 border rounded-3 justify-content-center">
            <h2 class="text-center">Options de réservation par défaut</h2>
            <div class="row mb-2 px-3 text-center">
                <div class="row mb-2 px-3 text-center">
                    <div class="col-12 p-1">{{ form_label(registrationForm.defaultAllergy) }}</div>
                    <div class="col-12 p-1">{{ form_widget(registrationForm.defaultAllergy) }}</div>
                    <div>{{ form_errors(registrationForm.defaultAllergy) }}</div>
                </div>
                <div class="row mb-2 px-3 text-center">
                    <div class="col-12 p-1">{{ form_label(registrationForm.defaultNbPlaces) }}</div>
                    <div class="col-12 p-1">{{ form_widget(registrationForm.defaultNbPlaces) }}</div>
                    <div>{{ form_errors(registrationForm.defaultNbPlaces) }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="text-center">{{ form_row(registrationForm.agreeTerms) }}</div>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="container-button container-button col-6 btn btn-outline m-1 hover text-center">Register</button>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}